.box {
  position: relative;
  background: $white;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 0 0 1px rgba($black, 0.06),
              0 2px 2px rgba($black, 0.03);

  &-header {
    position: relative;
    margin-top: 0;
    line-height: 48px;
    background: rgba($yellow, 0.2);
    border-bottom: solid 1px rgba($black, 0.1);
  }

  &-container {
    padding: 12px;
  }

  &-action {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border: none;
    color: $primary-color;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: $black;
    }
  }

  &-title {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 16px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &-body {
    display: block;

    &-scroll {
      position: absolute;
      top: 48px;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 0;
      overflow: auto;
    }
  }

  &-list {
    margin: 0;
    padding: 0;

    &-element {
      display: block;
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        padding: 8px 16px;
        display: block;
        border: none;
      }
    }
  }

  &-gray {
    background: $gray-xxxlight;
    border: solid 1px rgba($black, 0.06);
    border-radius: 3px;
  }

  &-darkgray {
    background: $gray-xxlight;
    border-bottom: solid 1px rgba($black, 0.06);
  }

  &-blue {
    // background: rgba($blue-medium, 0.2);
    border-bottom: solid 1px rgba($blue-medium, 0.3);
  }
}
