.toolbar {
  padding: 24px 12px 12px;

  @include for-pc {
    background-color: $blue-light;
    position: fixed;
    top: 0;
    left: 240px;
    right: 0;
    padding: 12px 24px;
    box-shadow: 0 2px 2px rgba($black, 0.03);
    border-bottom: solid 1px rgba($black, 0.06);
    z-index: 12;
  }
}
