.header {
  width: 100%;
  height: 56px;
  position: fixed;
  background: $gray-medium;
  margin: 0;
  padding:  0;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px rgba($black, 0.06);
  overflow: hidden;
  color: $white;
  z-index: 100;

  @include for-pc {
    position: fixed;
    width: 240px;
    height: 100%;
    overflow: visible;
  }

  &.is-visible {
    height: 100%;
    overflow: visible;
    z-index: 2;
  }

  &-menu {
    display: inline-block;
    padding-left: 24px;
    font-size: 18px;
    cursor: pointer;

    @include for-pc {
      display: none;
    }
  }

  &-title {
    display: inline-block;
    line-height: 56px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    color: $white;
    padding: 0 16px;

    strong {
      font-weight: 800;
    }
  }

  &-actions {
    position: sticky;
    top: 0;
    padding: 8px 12px;
    background: $blue-light-gray;
    border-bottom: solid 1px rgba($blue-medium, 0.5);
    z-index: 10;

    &-title {
      line-height: 32px;
      margin: 0;
      padding: 0;
      float: left;
    }

    &-title + .pagination {
      display: block;
      float: right;
    }
  }

  &-button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding:  0 12px;
    border-radius: 4px;
    background: $white;
    color: $primary-color;
    border: none;
    font-size: 14px;
    border: 1px solid $white;
    @include basic-transition;

    &:hover {
      background: rgba($gray-dark, 0.4);
      color: $white;
      border: 1px solid rgba($gray-dark, 0.4);
    }
  }

  &-actions-button {
    height: 26px;
    line-height: 24px;
    padding: 0 12px;
    margin: 3px;
    border: solid 1px rgba($blue, 0.8);
    background: rgba($blue, 0.5);
    border-radius: 13px;
    color: $white;
  }

  h2 {
    line-height: 32px;
    margin: 0;
    float: left;
  }
}
