.main {
  &-container {
    position: absolute;
    top: 56px;
    right: 0;
    bottom: 0;
    left: 0;

    @include for-pc {
      top: 0;
      right: 0;
      bottom: 0;
      left: 240px;
      overflow: scroll;
    }
  }

  &-list,
  &-content {
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
  }

  & {
    width: 100%;
  }

  &-list {
    width: 30%;
    margin: 0;
    padding: 0px;
    background: $white;
    border-right: solid 1px rgba($blue-medium, 0.5);
    min-height: 100vh;

    &-title {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 4px;
      margin-top: 0;
    }

    &-text {
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 4px;
      color: $gray-medium;
    }

    &-link {
      display: block;
      outline: none;
      border: none;
      margin-top: 4px;
      color: $gray-medium;
      cursor: pointer;
      transition: background-color 0s ease-in-out;
      padding: 6px 4px 6px 8px;

      &:hover {
        background-color: $gray-xxlight;
        box-shadow: inset 0 0 1px rgba($black, 0.1);
      }

      &.is-active {
        background-color: $blue-light-gray;
        box-shadow: inset 0 0 2px rgba($black, 0.1);
        cursor: inherit;
      }
    }

    &-section {
      @extend .clear;

      &-merge {
        display: block !important;
        position: relative;
      }
      
      &-input {
        // visibility: hidden;
        position: absolute;
      }
    }

    &-subsection {
      list-style-type: none;
    }

    &-primary,
    &-secondary {
     display: inline-block;
     width: calc(50% - 10px);
    }
  }

  &-content {
    width: 70%;
    padding: 10px;
    background: $blue-light;

    &-merge {
      display: inline-block;
      width: calc(60% - 10px);
      vertical-align: top;
      padding: 0 20px;
    }
  }

  &-button {
    &-container {
      position: fixed;
      bottom: 10px;
      width: inherit;
      z-index: 9999;
      text-align: center;
      
      input {
        margin-left: -130px;
        background-image: linear-gradient(to bottom, rgba(23, 130, 198, 0.8), #1782c6);
        line-height: 48px;
        padding: 0 24px;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
      }
    }
  }
}

.has-filters {
  .main-list, .main-content {
    max-height: calc(100vh - 80px);
  }
}

.drag-handle {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  line-height: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  color: rgba($black, 0.1);
}

.reorder-item {
  position: relative;

  .main-list-link {
    padding-left: 50px;
    min-height: 40px;
  }
}
