.nav {
  position: absolute;
  color: $white;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 100%;


  &-list {
    display: block;
    height: 72px;
    margin: 0;
    padding: 0;
    z-index: 3;
  }

  &-item {
    position: relative;
    margin: 0;
    padding: 0;
    
    display: block;
    font-size: 14px;
    opacity: 0.6;
    line-height: 42px;
    font-weight: 400;
    @include basic-transition;

    &-has-children > a:after {
      padding-left: 8px;
      content: "\25BE";
      font-size: 16px;
      line-height: 0;
    }

    &:hover {
      opacity: 1;
    }

    &-children {
      height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background-color: rgba($gray-dark, 0.6);

      &.active {
        height: auto;
      }

      .nav{
        &-item {
          width: 100%;
        }
        &-link {
          padding-left: 42px;
          display: block;
          width: 100%;
        }
      }
    }
  }

  &-link {
    display: inline-block;
    width: 100%;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    padding-left: 16px;

    i {
      margin-right: 8px;
    }

    &:hover {
      background-color: none;
      color: $blue;
    }
  }

  &-footer {
    width: 100%;
    position: absolute;
    bottom: 0;

    button,
    .button {
      width: 100%;
      outline: 0;
      color: rgba($white, 0.6);
      border: none;
      border-top: solid 1px rgba($white, 0.2);
      border-radius: 0;
      opacity: 1;

      &:hover {
        background: transparent;
      }
    }
  }
}
