.panel {
  &--container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr 2fr;
    grid-template-rows: min-content auto;
  }

  &--container > * {
    position: relative;
  }

  &--sidebar {
    grid-row: 1 / span 2;
    background: $gray-medium;
  }

  &--header {
    grid-column: span 2;
    background: $blue-light-gray;
    border-bottom: solid 1px rgba($blue-medium, 0.5);
    padding: 6px 12px;
  }

  &--main {
    grid-column: span 2;
  }

  &--list {
    background: $white;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-right: solid 1px rgba($blue-medium, 0.5);
  }

  &--content {
    padding: 10px;
    background: rgba($blue-medium, 0.1);
  }

  &--main,
  &--list,
  &--content {
    overflow: auto;
  }

}