.activity {
  &-item {
    position: relative;

    button {
      top: 22px;
      right: 4px;
    }
  }
  &-image {
    display: inline-block;
    img {
      width: 56px;
      height: 56px;
    }
  }

  &-name {
    margin: 16px 0 0 18px;
    display: inline-block;
    width: 85%;
    vertical-align: top;
  }
}
