.bar {
  display: block;
  background: $blue-medium;
  z-index: 9;
  padding: 8px 20px;

  &--active {
    background: $blue-dark;
  }

  .form-label {
    color: $white;
  }

  .button {
    background: $white;
    opacity: 1;
    border: none;
    padding: 4px 8px;
  }
}