.boxy {
  &-list {
    display: block;
    margin: 0;
    padding: 20px;
  }

  &-item {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    max-width: 960px;
  }

  &-link {
    display: block;
    padding: 12px;
    outline: none;
    border: none;

    &:hover {
      background: $white;
    }
  }

  &-title {
    margin: 0;
  }
}