.button {
  display: inline-block;
  border-radius: 3px;
  border: solid 1px;
  line-height: 16px;
  padding: 0 4px;
  opacity: 0.6;
  color: rgba($black, 0.6);
  font-size: 11px;
  background: transparent;
  text-transform: uppercase;
  @include basic-transition;

  &:hover {
    opacity: 1;
    cursor: pointer;
    color: $primary-color;
    background: rgba($primary-color, 0.2);
  }

  &-primary {
    background-image: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($primary-color, 1)
    );
    font-weight: 700;
    color: $white;
    text-shadow: 0 1px 1px rgba($black, 0.09);
    border-color: rgba($black, 0.06);
    box-shadow: 0 2px 2px rgba($black, 0.03);

    &:hover,
    &:focus {
      color: $white;
      background-image: linear-gradient(
        to bottom,
        rgba($primary-color, 0.6),
        rgba($primary-color, 0.8)
      );
    }
  }

  &-green {
    background-image: linear-gradient(
      to bottom,
      rgba($green-medium, 0.8),
      rgba($green-dark, 1)
    );
    &:hover,
    &:focus {
      background-image: linear-gradient(
        to bottom,
        rgba($green, 0.6),
        rgba($green-medium, 0.8)
      );
    }
  }

  &-secondary {
    background-color: $secondary-color;
    font-weight: 700;
    border-width: 2px;
  }

  &-tertiary {
    display: inline-block;
    background-color: $gray-xlight;
    color: $white;
    font-size: 10px;
    line-height: 16px;
    padding: 0 4px;
    border-radius: 3px;
    text-transform: uppercase;

    &:hover {
      background-color: $gray-light;
    }
  }

  &-danger {
    color: $red;
    border-color: $red;
    font-weight: 700;
    border-width: 1px;
  }

  &-medium {
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 7px 12px;
  }

  &-remove {
    border-color: solid 1px $red;
    color: $red;

    &:hover {
      color: $red;
      background: rgba($red, 0.09);
    }

    &-icon {
      position: absolute;
      color: $gray-xlight;
      background: $white;
      width: 18px;
      height: 18px;
      padding: 0;
      border: 0;
      border-radius: 9px;
      top: -4px;
      right: -4px;
      cursor: pointer;
      font-size: 18px;
      line-height: 18px;
      // box-shadow: 0 1px 2px rgba($black, 0.06);
      @include basic-transition;

      &:hover {
        color: $red;
      }
    }
  }

  &-right-corner {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &.is-disabled {
    background-image: linear-gradient(
      to bottom,
      rgba($gray-light, 0.8),
      rgba($gray-light, 1)
    );
    cursor: inherit;

    &:hover {
      opacity: 0.6;
    }
  }
}
