.callout {
  &-container {
    display: block;
    position: relative;
    border: solid 1px;
    background: $white;
    padding: 10px;
    padding-left: 36px;
    font-size: 14px;
    color: $gray-light;    
  }

  &-icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    background: $gray-xxlight;

    .fa,
    .fas,
    .far {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}