.checkbox {
  @extend .icon-box;
  @extend .icon-small-tick;
  box-shadow: inset 0 0 4px 0 rgba($black, 0.4);
  margin-right: 12px;
  background: $white;
  text-decoration: none;
  border-bottom: none;

  &-selected {
    box-shadow: none;
    background: $blue;
  }

  &-complete {
    box-shadow: none;
    background: $gray-light;
  }
}

.symbol {
  @extend .icon-box;
  width: 16px;
  height: 16px;
  line-height: 16px;

  &::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: $pink;
    color: $white;
    width: 100%;
    height: 100%;
    text-indent: 0;
    text-align: center;
  }

  &-rounded {
    border-radius: 50%;
  }

  &-close::before {
    content: "\00d7";
  }
}