.choices {
  &__item--selectable {
    &.is-highlighted {
      background-color: $blue !important;
    }
  }

  &__item {
    border-radius: 3px !important;
    background-color: $gray-light !important;
    border: none !important;
    padding: 0 2px 0 12px !important;
    line-height: 24px;
    margin-bottom: 5px !important;
    @include basic-transition;

    &:hover {
      background-color: rgba($gray-light, 0.9) !important;
    }
  }

  &__item--choice {
    background-color: $white !important;
    &:hover,
    &:focus {
      background-color: rgba($black, 0.2)!important;
      border-radius: 0px !important;
      @include basic-transition;
    }
  }

  &__button {
    position: relative;
    border: none !important;
    @include basic-transition;

    &:hover:after {
      line-height: 20px !important;
      border-radius: 40px !important;
      background-color: $blue-dark;
    }

    &::after {
      content: "";
      top: -3px;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1;
      position: absolute;
      background-size: 8px;
      background-image: asset-url("icon-filter-close.svg");
      background-repeat: no-repeat;
      background-position: center center;
      filter: brightness(3);
      width: 20px;
      height: 20px;
    }
  }

  &__input {
    display: inline-block !important;
    background: $white !important;
    border: none !important;
    box-shadow: 0 !important;
    width: auto !important;
    max-width: 150px;

    &.is-hidden {
      display: none !important;
    }
  }

  &__inner {
    min-height: 36px !important;
    border-radius: 5px !important;
    border: solid 1px rgba(0, 0, 0, 0.09) !important;
    background-color: $white !important;
    padding: 5px 5px 0 5px !important;
  }

  &__heading {
    background-color: $blue-medium;
    color: $white !important;
  }
}
