.date-range {
  &-container {
    display: block;
    margin-right: 20px;
  }

  &-label,
  &-from,
  &-to,
  &-between {
    display: block;
    float: left;
    margin: 0;
  }

  &-label {
    margin-right: 6px;
    line-height: 30px;
  }

  &-from,
  &-to {
    font-size: 14px;
    height: 30px !important;
    line-height: 28px;
    padding: 0 8px 0 12px;
    border: solid 1px rgba($primary-color, 0.5);
  }

  &-from {
    border-radius: 15px 0 0 15px;
  }

  &-to {
    border-radius: 0 15px 15px 0;
  }

  &-between {
    padding: 0 6px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 28px;
    border-top: solid 1px rgba($primary-color, 0.5);
    border-bottom: solid 1px rgba($primary-color, 0.5);
  }
}