.def {
  &-list {
    display: block;
  }

  &-term {
    font-weight: bold;
    margin: 12px 0 0 0;
    padding: 0;
  }

  &-description {
    font-weight: normal;
    margin: 0;
    padding: 0;

    &:before {
      content: "\2022";
      padding: 0 12px;
    }
  }
}