.form {
  &-image-selection-group {
    clear: both;
    overflow: auto;
    [type="radio"],
    [type="checkbox"] {
      position: absolute;
      left: -9999px;
    }

    .radio-buttons {
      margin-top: 6px;

      label {
        float: left;
        max-width: 80px;
        text-align: center;
        margin-right: 12px;
        padding-left: 0 !important;
        cursor: pointer;

        &:hover {
          .form-image-select {
            background-color: rgba($primary-color, 0.06);
            border: solid 1px $primary-color;
            @include basic-transition;
          }
        }
      }

      label:before,
      label:after {
        display: none;
      }
    }
  }

  [type="radio"]:checked + .form-image-select,
  [type="checkbox"]:checked + .form-image-select    {
    background-color: rgba($primary-color, 0.06);
    border: solid 1px $primary-color;
  }

  [type="radio"]:checked + .form-image-select:after,
  [type="checkbox"]:checked + .form-image-select:after  {
    font-family: 'Font Awesome 5 Free';
    content: "\f058";
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 3px;
    width: 20px;
    height: 20px;
    background-color: $white;
    border-radius: 10px;
    font-size: 17px;
    line-height: 12px;
    font-weight: 700;
    color: $primary-color;
  }

  &-image-select {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(black, 0.05);
    border: solid 1px $gray-xxlight;
    border-radius: 2px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 36px;
      max-height: 36px;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }
}
