.switch {
  position: relative;
  display: inline-block;

  input {
    position: absolute;
    left: -9999px;
  }

  span {
    padding-left: 44px;
    cursor: pointer;
  }

  span:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 36px;
    height: 16px;
    background-color: $gray-xxlight;
    border: solid 1px $gray-xlight;
    border-radius: 34px;
    @include basic-transition;
  }

  span.alt:before {
    background-color: $red;
  }

  span:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: solid 1px $gray-xlight;
    top: 0px;
    left: 0;
    background-color: $white;
    border-radius: 34px;
    @include basic-transition;
  }

  input:checked + span:before {
    background-color: $primary-color;
  }

  input:checked + span.alt:before {
    background-color: $green;
  }

  input:checked + span:after {
    transform: translateX(18px);
  }
}
