.form-field .radio-buttons label {
  [type="radio"] {
    position: absolute;
    left: -9999px;
  }

  label {
    position: relative;
    margin: 4px 4px;
    padding-left: 24px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: $gray-medium;
  }

  label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $gray-xxlight;
    border-radius: 100%;
  }

  label:after{
    content: '';
    width: 12px;
    height: 12px;
    background: $primary-color;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    @include basic-transition;
  }

  label:hover:before {
    border: 1px solid $primary-color;
    @include basic-transition;
  }

  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  [type="radio"]:checked + label:before {
    border: 1px solid $primary-color;
  }
}
