// Form base styles
textarea:focus,
input:focus,
select:focus {
  outline: none;
}

textarea:disabled,
input:disabled,
select:disabled {
  background-color: $gray-xxxlight !important;
  color: $gray-light !important;
}

// Customized elements
.form {
  display: block;
  margin: 0;
  clear: both;
  @extend .clear;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }

  & > .form-field {
    padding: 0;
  }

  &-fieldset {
    border: none;
    padding: 8px 0 0 0;
    border-top: solid 2px $gray-light;
  }

  &-legend {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 6px;
    margin: 0;
    color: $gray-light;
  }

  &-label {
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: $gray-light;
  }

  &-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    // overflow: hidden;
  }

  &-field.string,
  &-field.email,
  &-field.url,
  &-field.tel,
  &-field.password,
  &-field.phone,
  &-field.integer,
  &-field.text,
  &-field.float,
  &-field.select,
  &-field.grouped_select,
  &-field.file {
    position: relative;

    input,
    .input,
    textarea {
      font-size: 16px;
      line-height: 24px;
      color: $gray-dark;
      width: 100%;
      max-width: 100%;
      border-radius: 5px;
      border: solid 1px rgba($black, 0.09);
      box-shadow: inset 0 1px 2px rgba($black, 0.03);
      padding: 0 6px;
    }

    &.has-hint {
      input,
      .input,
      textarea {
        border-radius: 5px 5px 0 0;
      }
    }

    input,
    .input {
      height: 36px;
      line-height: 36px;
    }

    textarea {
      resize: vertical;
      min-height: 144px;
    }

    input:focus,
    .input:focus,
    textarea:focus,
    select:focus {
      border: solid 1px $primary-color;
      @include basic-transition;
    }

    &.is-valid {
      label {
        color: $green;
      }
    }

    .hint {
      display: block;
      position: relative;
      color: $gray-medium;
      font-size: 12px;
      line-height: 18px;
      border-radius: 0 0 5px 5px;
      margin-bottom: 8px;
      padding: 2px 8px;
      background: rgba($black, 0.03);
      border: solid 1px rgba($black, 0.09);
      border-top: none;
    }

    &.has-error {
      input {
        border: solid 1px $red;
        background-color: rgba($red, 0.07);
      }

      .error {
        display: inline-block;
        position: relative;
        background: $red;
        color: $white;
        font-size: 12px;
        line-height: 18px;
        border-radius: 18px;
        padding: 4px 12px;
        margin-top: 8px;
        margin-bottom: 8px;

        &::before {
          content: "";
          display: block;
          position: absolute;
          border: solid 5px transparent;
          border-bottom-color: $red;
          top: -10px;
          left: 20px;
        }
      }
    }
    .label-hint {
      display: none;
      color: red;
      font-size: 11px;
      line-height: 11px;
      font-weight: 600;

      &.has-error {
        display: inline-block;
      }
    }
  }

  &-field.select,
  &-field.date,
  &-field.grouped_select {
    select {
      width: 100%;
      line-height: 36px;
      height: 36px;
      border: solid 1px rgba($black, 0.09);
      box-shadow: inset 0 1px 2px rgba($black, 0.03);
      background: $white;
      font-size: 16px;
      border-radius: 2px;
      text-transform: capitalize;
    }
    &.multiple-select {
      select {
        width: auto;
      }
    }
  }
  &-field.date {
    select {
      width: auto;
    }
  }

  &-field .check-box {
    display: inline-block;
    [type="checkbox"] {
      position: absolute;
      left: -9999px;
    }

    span {
      position: relative;
      padding-left: 24px;
      cursor: pointer;
    }

    span:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0px;
      width: 18px;
      height: 18px;
      border: 1px solid $gray-xxlight;
      border-radius: 2px;
    }

    span.border-dark-gray:before {
      border: 1px solid $gray-dark;
    }

    span:after {
      content: "\2713";
      position: absolute;
      color: $white;
      font-size: 12px;
      left: 4px;
      top: -2px;
      @include basic-transition;
    }

    [type="checkbox"]:not(:checked) + span:after {
      opacity: 0;
      transform: scale(0);
    }

    [type="checkbox"]:checked + span:after {
      opacity: 1;
      transform: scale(1);
    }

    [type="checkbox"]:checked + span:before {
      background: $primary-color;
    }
  }

  &-field.boolean {
    display: inline-block;
    width: auto;
  }

  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 0 24px;

    line-height: 48px;
    border-radius: 3px;
    background-image: linear-gradient(
      to bottom,
      rgba($primary-color, 0.8),
      rgba($primary-color, 1)
    );
    color: $white;
    margin: 0 auto;
    border: none;
    font-size: 14px;
    text-transform: uppercase;

    &.button-small {
      padding: 0 4px;
      font-size: 11px;
      line-height: 16px;
    }

    &.is-disabled {
      background-image: linear-gradient(
        to bottom,
        rgba($gray-light, 0.8),
        rgba($gray-light, 1)
      );
      cursor: inherit;
  
      &:hover {
        opacity: 0.6;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      color: $white;
      background-image: linear-gradient(
        to bottom,
        rgba($primary-color, 0.6),
        rgba($primary-color, 0.8)
      );
    }
  }

  .error-notification,
  .error_notification {
    font-weight: 700;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}
