.grid {
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
    margin: 10px;
    padding: 0;
  }

  &-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: $white;
    border: solid 1px rgba($black, 0.1);
  }

  &-item-content {
    padding: 6px 8px;
  }

  &-item-head {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
    }

    figcaption {
      display: block;
      position: absolute;
      background: rgba($black, 0.5);
      color: $white;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 30px;
      font-size: 14px;
      padding: 0 8px;
    }
  }
}