.icon {
  &-box {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    text-indent: -999em;
    overflow: hidden;
    border-radius: 3px;
    top: 4px;

    &-medium {
      width: 24px;
      height: 24px;
    }

    &-large {
      width: 48px;
      height: 48px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &-before {
    &::before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-size: 8px;
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
  }

  &-after {
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      background-size: 8px;
      background-repeat: no-repeat;
      margin-left: 4px;
      width: 16px;
      height: 16px;
    }
  }

  &-flight::before {
    background-size: 12px;
    background-image: asset-url("airplane-icon.svg");
  }

  &-trip-length::before {
    background-size: 12px;
    background-image: asset-url("trip-length-icon.svg");
  }

  &-calendar::before {
    background-size: 12px;
    background-image: asset-url("calendar-icon.svg");
  }

  &-navigation::before {
    background-image: asset-url("navigation-icon.svg");
  }

  &-author::before {
    background-image: asset-url("author.svg");
  }

  &-comment::before {
    background-image: asset-url("comment.svg");
  }

  &-trip-card::before {
    top: 5px !important;
  }

  &-blog::before {
    background-image: asset-url("blog.svg");
  }

  &-event::before {
    background-image: asset-url("event.svg");
  }

  &-group {
    background-image: asset-url("group.svg");
  }

  &-small-tick::before {
    background-size: 12px;
    background-image: asset-url("icon-tick.svg");
  }

  &-upload::before {
    background-size: 12px;
    height: 20px;
    background-image: asset-url("icon-upload.svg");
  }

  &-inclusion {
    padding-left: 22px;
    &::before {
      opacity: 1;
      background-size: 16px;
      background-image: asset-url("icon-inclusion.svg");
    }
  }

  &-exclusion {
    padding-left: 22px;
    &::before {
      opacity: 1;
      background-size: 16px;
      background-image: asset-url("icon-exclusion.svg");
    }
  }

  &-size-m::before {
    background-size: 18px;
  }

  &-size-l::before{
    background-size: 30px;
    width: 30px;
    height: 30px;
  }

  &-notice::before {
    background-image: asset-url("notice.svg");
  }

  &-arrow-right::after {
    background-position: 2px 1px;
    background-image: asset-url("arrow-right.svg");
  }

  &-arrow-down::after {
    background-image: asset-url("arrow-right.svg");
    transform: rotate(90deg);
  }

  &-arrow-left {
    &::before {
      background-position: 2px 3px;
      background-image: asset-url("arrow-right.svg");
      transform: rotate(180deg);
    }
  }

  &-pink::after,
  &-pink::before {
    filter: brightness(0.5) sepia(2) hue-rotate(-70deg) saturate(8);
  }

  &-plus::before {
    background-image: asset-url("icon-plus.svg");
  }
}
