.icon {
  opacity: 0.6;

  &-xsmall { font-size: 12px;}
  &-small { font-size: 14px;}
  &-medium { font-size: 16px;}
  &-large { font-size: 20px;}
  &-xlarge { font-size: 24px;}
  &-hover {
    &:hover {
      opacity: 1;
      color: $blue;
      cursor: pointer;
      @include basic-transition;
    }
  }
}
