.label {
  display: inline-block;
  border-radius: 3px;
  line-height: 16px;
  margin-bottom: 4px;
  padding: 0 4px;
  font-size: 10px;
  text-transform: uppercase;
  color: $white;
  background: $gray-light;

  &-large {
    font-size: 12px;
    text-transform: capitalize;
    line-height: 24px;
  }

  &-green {
    background: $green;
  }

  &-red {
    background: $red;
  }

  &-green {
    background: $green;
  }

  &-blue {
    background: $blue;
  }

  &-orange {
    background: $orange;
  }

  &-black {
    background: $black;
  }

  &-light-gray {
    background: $gray-xxlight;
    color: $black;
  }
}
