.list {
  &-items {
    list-style: none;
    overflow:auto;
    margin: 0;
  }

  &-item {
    float: left;
    width: 50%;
    position: relative;
  }

  &-content {
    padding: 8px 12px;
    margin: 4px;
    border: solid 1px $gray-xxlight;
    border-radius: 5px;

    &:hover {
      @include basic-transition;
      background-color: $gray-xxxlight;
    }

    img {
      width: 60px;
    }
  }
}
