.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 60px 0;
  overflow-y: scroll;
  background-color: rgba($black, 0.7);
  z-index: 9999;
  @include basic-transition;

  &-box {
    position: relative;
    width: 60vw;
    margin: 0 auto;
    padding: 20px;
    background-color: $white;
    border-radius: 3px;
  }

  &-close {
    top: 60px;
    right: 20vw;
    margin-top: -14px;
    margin-right: -14px;
    width: 28px;
    height: 28px;
    font-size: 22px;
    line-height: 28px;
    border-radius: 28px;
    z-index: 10;
    text-align: center;
    color: $white;
    background-color: $gray-light;
    outline: none;
    transition: all 0.3s cubic-bezier(.24,1.91,.62,1);

    &:hover {
      font-size: 24px;
      color: $white;
      background-color: $red;
      transform: scale(1.1);
    }
  }
}
