.notification {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  background-color: $green;
  text-align: center;
  color: $white;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  height: auto;
  z-index: 9999;
  @include basic-transition;

  &.hidden {
    position: fixed;
    top: -60px;
    @include basic-transition;
  }

  &-close {
    margin-right: 24px;
    line-height: 24px;
    color: $white;
  }
}
