.order {
  &-list {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 16px;
    align-items: start;
    &-product {
      display: grid;
      grid-template-columns: 75px 1fr;
      grid-gap: 16px;
      margin-bottom: 16px;

      &:last-of-type {
        margin: 0;
        .product-details {
          border-bottom: none;
        }
      }

      .product-image {
        width: 100%;
      }

      .product-details {
        border-bottom: solid 1px $gray-xxlight;
      }
    }
  }

  &-price {
    margin: 8px 0 0 95px;
    padding-top: 12px;
    border-top: solid 2px $gray-xxlight;
    font-weight: bold;
  }
}
