.pagination {
  text-align: center;
  margin-right: 12px;
  height: 32px;
  line-height: 32px;
  margin: 0 6px 0 0;
  padding: 4px;

  // styles for pagination in kaminari 1.0.1
  list-style: none;

  li {
    float: left;
    line-height: 26px;

    &.active {
      color: $blue;
      padding: 0 3px;
      background-color: $white;
      border: solid 1px rgba($blue, 0.3);
      border-radius: 12px;
      text-align: center;
    }
  }
  span a,
  li a{
    border: 0;
    padding: 3px 6px;
    color: $blue-medium;
    text-align: center;

    &:hover {
      color: $primary-color;
    }
  }

  .page,
  .next,
  .prev,
  .first,
  .last {
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    display: block;
    float: left;
    margin: 0;

    &.current {
      color: $blue;
      padding: 0 9px;
      line-height: 22px;
      background-color: $white;
      border: solid 1px rgba($blue, 0.3);
      border-radius: 12px;
      text-align: center;
    }
  }

  .first,
  .last {
    display: none;
  }
}
