.w-phone {
  display: block;
  position: relative;

  &-container {
    display: block;
    position: relative;
  }

  &-country {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 36px;
    opacity: 0.01;
  }

  &-country-display {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 60px;
    height: 34px;
    background: rgba($blue, 0.2);
    line-height: 34px;
    text-align: right;
    padding-right: 20px;
    border-right: solid 1px rgba($black, 0.05);
    border-radius: 5px 0 0 5px;

    font-weight: bold;
    font-size: 14px;
    color: $gray-medium;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 6px;
      top: 16px;
      width: 0;
      height: 0;
      border: solid 4px transparent;
      border-top: solid 4px rgba($black, 0.5);
    }
  }

  &-string {
    padding-left: 72px !important;
  }
}
