.photo {
  &-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;

    img {
      border-radius: 2px;
    }
  }

  &-item {
    display: block;
    position: relative;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0;

    a {
      text-decoration: none;
      border: none;
    }

    img {
      max-height: 136px;
      box-shadow: 0 0 2px rgba($black, 0.03);
      border: solid 1px rgba($black, 0.06);
      border-radius: 3px;
      @include basic-transition;

      &:hover {
        box-shadow: 0 0 9px rgba($black, 0.12);
      }
    }
  }

  &-container {
    height: 100%;

    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
}
