.pill {
  &-container {
    display: block;
    float: left;
  }


  &-list {
    display: inline-block;
    border: solid 1px rgba($primary-color, 0.5);
    border-radius: 15px;
    margin: 0;
  }

  &-item {
    display: block;
    position: relative;
    float: left;
    padding: 0 6px;
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    border-right: solid 1px rgba($primary-color, 0.1);

    &:first-child {
      border-radius: 16px 0 0 16px;
      padding-left: 12px;
    }

    &:last-child {
      border-radius: 0 16px 16px 0;
      padding-right: 12px;
    }


    input[type="radio"] {
      display: block;
      position: absolute;
      opacity: 0.01;
    }

    &,
    & input,
    & label {
      cursor: pointer;
    }

    &:last-child {
      border-right: 0;
    }

    &.is-active {
      background-color: $white;

      .pill-link {
        color: $dark-gray;
      }
    }
  }

  &-subsection {
    position: relative;

    &-list {
      width: 160px;
      display: none;
      list-style: none;
      position: absolute;
      top: 22px;
      right: 0px;
      background-color: $white;
      border-radius: 4px;
      border: solid 1px rgba($black, 0.1);
      box-shadow: 0 0 4px rgba($black, 0.2);

      &.is-active {
        display: block;
      }
    }

    &-item {
      padding: 4px 8px;
      border-bottom: solid 1px rgba($black, 0.05);

      &.is-active {
        background: $blue-light;
      }

      &:last-child {
        border-bottom: none;
      }

      a {border: none}
    }
  }

  &-link {
    color: $blue-dark;
    border: none;
  }
}
