.scroll {
  &-container {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
    padding: 8px;

    height: 210px;
    overflow-x: scroll;
    background: $blue-light-gray;
    border: solid 1px rgba($black, 0.06);
    z-index: 100;

    &::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 210px;
      left: 0;
      background: rgba($black, 0.5);
      z-index: 100;
    }
  }

  &-list {
    width: 1000em;
    list-style-type: none;
    margin: 0;
  }

  &-item {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    overflow-y: scroll;

    a {
      text-decoration: none;
      border: none;
    }
  }

  &-sticky {
    position: sticky;
    left: 10px;
    min-height: 30px;

    .form-field {
      display: inline-block;
      width: 250px;
    }

    button {
      display: inline-block;
    }

    select {
      line-height: 32px;
      height: 32px;
      border-color: $gray-xxlight;
    }
  }

  &-close {
    position: absolute;
    right: 10px;
    top: 8px;
    color: $dark-gray;
  }
}
