.search {
  &-container {
    height: 30px;
    display: inline-block;
    max-width: 300px;
  }

  &-input {
    display: block;
    float: left;
    margin: 0;
    height: 30px !important;
    line-height: 28px;
    border-radius: 15px 0 0 15px !important;
    padding: 0 8px 0 12px;
    border: solid 1px rgba($primary-color, 0.5);
    border-right: none;
    font-size: 16px;
    -webkit-appearance: none;
  }

  &-button {
    display: block;
    float: left;
    margin: 0;
    height: 30px;
    line-height: 28px;
    border-radius: 0 15px 15px 0;
    padding: 0 10px 0 8px;
    line-height: 24px;
    font-size: 16px;
    border: solid 1px rgba($primary-color, 0.5);
    border-left: none;
    background: $white;
    background-image: none;
    color: rgba($primary-color, 0.5);
    opacity: 1;

    &:hover {
      background: $white;
      color: rgba($primary-color, 1);
    }
  }

  &-select {
    height: 30px;
    line-height: 30px;
    width: 200px;
    border-radius: 15px;
    padding: 0 0 0 12px;
    border: solid 1px rgba($primary-color, 0.5);
  }
}