.step {
  &-container {
    margin: 20px 0;
  }

  &-list {
    overflow: hidden;
    clear: both;
    counter-reset: step;
    padding: 0;
    font-weight: 700;
    color: #c8d1d8;
  }

  &-item {
    width: 25%;
    list-style-type: none;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #9eaab2;
    @include basic-transition;

    &:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 26px;
      border: 3px solid #c8d1d8;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
    }
    &:hover {
      a {
        color: $blue;
      }
    }

    a {
      color: #c8d1d8;
    }

    &:hover:before {
      border: 3px solid $blue;
    }

    &:after {
      width: 100%;
      height: 3px;
      content: " ";
      position: absolute;
      background-color: #c8d1d8;
      top: 14px;
      left: -50%;
      z-index: -1;
    }

    &:first-child:after {
      content: none;
    }

    &--selected {
      color: $blue !important;

      a {
        color: $blue !important;
      }

      &:before {
        border-color: $blue !important;
        color: $blue !important;
      }
    }

    &--completed {
      color: $green-light;
      a {
        color: $green-light;
      }

      &:before {
        color: $green-light;
        border-color: $green-light;
      }

      & + li:after {
        color: $green-light;
        background-color: $green-light;
      }
    }
  }
}
