.tabular {
  &-list {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-item {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: solid 1px rgba($black, 0.1);

    &:last-child {
      border: none;
    }
  }

  &-link {
    display: block;
    padding: 12px;
    outline: none;
    border: none;

    &:hover {
      background: $white;
    }
  }

  &-title {
    margin: 0;
  }
}
