.table {
  border-collapse: collapse;
  width: 100%;
  background-color: $blue-light;

  img {
    max-height: 120px;
  }

  td:first-child,
  th:first-child {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  tr {
    border-bottom: solid 1px $gray-xxlight;
  }

  &-header {
    font-size: 11px;
    color: $gray-light;
    text-transform: uppercase;
    text-align: left;

    th {
      font-weight: 400;
      line-height: 16px;
    }
  }

  &-body {
    text-align: left;
  }

  tr td {
    line-height: 24px;
    padding: 8px 4px;
    max-width: 25%;
    vertical-align: top;
  }

  tr:hover td {
    background: rgba($primary-color, 0.04);
  }

  &-row {
    td,
    th {
      padding: 12px 6px;
      vertical-align: top;
    }

    &-header {
      text-transform: capitalize;
      font-weight: 500;
    }

    &-section {
      margin-bottom: 8px;
      color: $gray-light;
      font-size: 13px;
    }

    &-number {
      text-align: right;
      font-family: monospace;
    }

    &-actions {
      text-align: right;
      font-size: 11px;
      text-transform: uppercase;
      position: relative;
      width: 20%;

      .button {
        margin: 0 0 0 4px;
      }

      form {
        display: inline;
      }
    }
  }
}
