.tab {
  &-section {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0 0 4px rgba($black, 0.1);
  }

  &-list {
    display: inline-block;
    margin: 0;
    padding: 0;

    .box-header & {
      height: 48px;
    }
  }

  &-item {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    &-count {
      display: inline-block;
      color: $gray-medium;
      padding: 0 5px;
      line-height: 18px;
      font-size: 12px;
      background-color: rgba($gray-light, 0.2);
      border: solid 1px rgba($gray-light, 0.3);
      border-radius: 10px;
      text-align: center;
    }
  }

  &-link {
    color: $gray-light;
    display: block;
    padding: 2px 12px 0 12px;
    line-height: 48px;
    border: none;
    font-weight: bold;
    // border-bottom: solid 2px transparent;
    cursor: pointer;
    @include basic-transition;

    &.is-active,
    &:hover {
      color: $gray-dark;
      // border-bottom-color: $gray-dark;
    }
  }

  &-box {
    display: inline-block;
    padding: 2px 12px 0 12px;
    line-height: 48px;
    background-color: $gray-xxxlight;
    border: 1px solid $gray-xxlight;
    color: $gray-light;
    cursor: pointer;
    @include basic-transition;

    &.is-active,
    &:hover {
      background-color: $white;
      color: $blue;
    }
  }
}
