.tag {
  text-transform: uppercase;
  font-size: 10px;
  padding: 3px 6px;
  border-radius: 3px;
  background-color: $gray-xxlight;
  color: $gray-dark;
  white-space: nowrap;

  &-featured {
    background-color: $green;
    color: $white;
  }
}
