$breakpoint-tablet: 36em;
$breakpoint-pc: 62em;

@mixin for-mobile {
  @media screen and (max-width: ($breakpoint-tablet - 0.01)) {
    @content;
  }
}

@mixin for-tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin for-mobile-and-tablet {
  @media screen and (max-width: ($breakpoint-pc - 0.01)) {
    @content;
  }
}

@mixin for-pc {
  @media screen and (min-width: $breakpoint-pc) {
    @content;
  }
}
