$gray-dark: #212121;
$gray-medium: #404852;
$gray-light: #8A96A0;
$gray-xlight: #cccccc;
$gray-xxlight: #eeeeee;
$gray-xxxlight: #fafafa;

$white: #ffffff;
$black: #000000;

$blue-light: #F7F9FE;
$blue-light-gray: #E9EEF6;
$blue-medium: #96AACD;
$blue: #1782C6;
$blue-dark: #333740;

$primary-color: $blue;
$secondary-color: $admin-secondary-color;
$text-color: $gray-medium;

$green: #50d04c;
$green-light: #9BC34D;
$green-medium: #3C9939;
$green-dark: #176614;

$red: #D0011B;
$orange: #F5A623;
$yellow: #fed831;
$yellow-light: #FFF1B3;
$pink: #FF289C;

.color {
  &-green {
    color: $green;
  }

  &-red {
    color: $red;
  }

  &-blue {
    color: $blue;
  }

  &-light-gray {
    color: $gray-xlight;
  }
}
