body {
  background: $blue-light;
}

.grid {
  &-c {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 16px;
    grid-auto-flow: dense;
  }

  &-col {
    &-1 {
      grid-column: span 1;
    }

    &-2 {
      grid-column: span 2;
    }

    &-3 {
      grid-column: span 3;
    }

    &-full {
      grid-column: 1 / -1;
    }
  }

  &-row {
    &-1 {
      grid-row: span 1;
    }

    &-2 {
      grid-row: span 2;
    }

    &-3 {
      grid-row: span 3;
    }
  }
}

.grid {
  &-container {
    max-width: 1440px;
    min-height: 80vh;
    margin: 0 auto 30px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-template-rows: repeat(auto-fill, 90px);
    grid-gap: 18px 18px;
    align-items: start;

    .box-1 {
      grid-column: 1 / span 4;
      grid-row: 1 / span 9;
    }

    .box-2 {
      grid-column: 5 / span 7;
      grid-row: 1 / span 4;
    }

    .box-3 {
      grid-column: 5 / span 7;
      grid-row: 5 / span 9;
    }
  }
}

.flex {
  &-container {
    display: flex !important;
    flex-wrap: wrap;
  }

  &-auto {
    flex: auto;
  }

  &-align-self-center {
    align-self: center;
  }

  &-align-items-center {
    align-items: center;
  }

  &-align-items-end {
    align-items: flex-end;
  }

  &-align-stretch {
    align-items: stretch;
  }

  &-container {
    &.flex-column {
      flex-direction: column;
    }

    &.flex-end {
      justify-content: flex-end;
    }

    .flex-align-self-end {
      align-self: flex-end;
    }

    &.width-20 > * {
      width: 20%;
    }
  }
}

ul {
  padding-left: 0;
}
