.float {
  &-container {
    overflow: auto;
  }

  &-left {
    float: left;
  }

  &-right {
    float: right;
  }
}

.clear {
  clear: both;

  &-right {
    clear: right;
  }

  &-left {
    clear: left;
  }
}

.display {
  &-inline {
    display: inline;
  }

  &-inline-block {
    display: inline-block;
  }

  &-block {
    display: block;
  }
}

.size-large {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 800px;
}

.size-medium {
  width: 90vw;

  @include for-tablet {
    width: 70vw;
  }

  @include for-pc {
    width: 50vw;
    padding-bottom: 120px;
  }
}

.position {
  &-center {
    margin: 0 auto;
  }
}

.column-1-1 {
  flex: 0 0 100%;
  padding: 12px;
}

.column-1-2 {
  flex: 0 0 100%;
  padding: 12px;

  @include for-pc {
    flex: 0 0 50%;
  }
}

.column-1-3 {
  flex: 1 100%;
  padding: 12px;

  @include for-pc {
    flex: 0 0 33.33332%;
  }
}

.column-2-3 {
  flex: 1 100%;
  padding: 12px;

  @include for-pc {
    flex: 0 0 66.66665%;
  }
}

.position-relative {
  position: relative;
}
