body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",;
  color: $text-color;
  font-size: 15px;
}

p {
  margin: 0 0 8px 0;

  &.notice,
  &.alert {
    margin: 0;
  }
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 15px;
  line-height: 18px;
  margin: 4px 0;

  + h4 {
    margin-top: -8px;
  }
}

h4 {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

strong {
  font-weight: 700;
}

.text {
  &-capitalize {
    text-transform: capitalize;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

.head,
.subhead {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: $blue-dark;
  margin-top: 0;
}

.head {
  margin-bottom: 0;
}

.subhead {
  font-size: 16px;
}

a {
  color: $blue-dark;
  text-decoration: none;
  border-bottom: dotted 1px $primary-color;
  @include basic-transition;

  &:hover {
    color: $blue;
  }
}

.text {
  &-capitalize {
    text-transform: capitalize;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-center {
    text-align: center;
  }

  &-inline {
    display: inline-block;
    margin: 4px 0;
  }

  &-right {
    text-align: right;
  }
}

.font {
  &-bold {
    font-weight: 700;
  }

  &-semi-bold {
    font-weight: 500;
  }

  &-regular {
    font-weight: normal;
  }
}

.note {
  opacity: 0.7;
  font-size: 13px;
  line-height: 18px;
}

.section-subhead {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 6px;
  color: $gray-light;
  z-index: 1;

  span {
    background-color: $gray-xxxlight;
    padding-right: 6px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: $gray-light;
    height: 2px;
    width: 100%;
    z-index: -1;
  }
}

.monospace {
  font-family: monospace;
}

