.display {
  &--hidden {
    display: none !important;
  }

  &-contents {
    display: contents !important;
  }

  &-inline-block {
    display: inline-block !important;
  }

  &-block {
    display: block !important;
  }
}

.margin {
  &-null {
    margin: 0 !important;
  }

  &-xsmall {
    margin: 5px !important;
  }

  &-small {
    margin: 10px !important;
  }

  &-medium {
    margin: 20px !important;
  }

  &-large {
    margin: 30px !important;
  }

  &-top {
    margin-top: 5vw !important;
  }

  &-top-xsmall {
    margin-top: 5px !important;
  }

  &-top-small {
    margin-top: 10px !important;
  }

  &-top-medium {
    margin-top: 20px !important;
  }

  &-top-large {
    margin-top: 10vh !important;
  }

  &-bottom-small {
    margin-bottom: 10px !important;
  }

  &-bottom-xsmall {
    margin-bottom: 5px !important;
  }

  &-bottom-medium {
    margin-bottom: 20px !important;
  }

  &-bottom-large {
    margin-bottom: 30px !important;
  }

  &-right-small {
    margin-right: 10px !important;
  }

  &-right-medium {
    margin-right: 20px !important;
  }

  &-right-large {
    margin-right: 20px !important;
  }

  &-left-small {
    margin-left: 5px !important;
  }

  &-left-medium {
    margin-left: 10px !important;
  }

  &-left-large {
    margin-left: 20px !important;
  }
}

.padding {
  &-null {
    padding: 0 !important;
  }

  &-xsmall {
    padding: 4px !important;
  }

  &-small {
    padding: 10px !important;
  }

  &-medium {
    padding: 20px !important;
  }

  &-large {
    padding: 36px !important;
  }

  &-top {

    &-null {
      padding-top: 0 !important;
    }

    &-xs {
      padding-top: 5px !important;
    }

    &-small {
      padding-top: 10px !important;
    }

    &-medium {
      padding-top: 20px !important;
    }

    &-large {
      padding-top: 36px !important;
    }
  }

  &-bottom {
    &-xsmall {
      padding-bottom: 5px !important;
    }

    &-small {
      padding-bottom: 10px !important;
    }

    &-medium {
      padding: 20px !important;
    }
    &-large {
      padding-bottom: 34px !important;
    }
  }

  &-left {
    padding-left: 10px !important;

    &-xs {
      padding-left: 5px !important;
    }

    &-small {
      padding-left: 10px !important;
    }

    &-medium {
      padding-left: 20px !important;
    }

    &-large {
      padding-left: 40px !important;
    }
  }

  &-right {
    padding-right: 10px !important;

    &-xs {
      padding-right: 5px !important;
    }

    &-small {
      padding-right: 10px !important;
    }

    &-medium {
      padding-right: 20px !important;
    }

    &-large {
      padding-right: 30px !important;
    }
  }
}


.text {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-number {
    text-align: right;
    white-space: nowrap;
    font-family: monospace;
  }

  &-small-upcase {
    text-transform: uppercase;
    font-size: 10px;
  }
}

.color {
  &-white {
    color: $white !important;
  }

  &-red {
    color: $red !important;
  }

  &-green {
    color: $green-medium !important;
  }

  &-orange {
    color: darken($orange, 5%) !important;
  }

  &-pink {
    color: $pink;
  }
}

.list-style-none {
  li {
    list-style: none;
  }
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}


.width {
  &-10 {
    width: 10%;
  }

  &-25 {
    width: 25%;
  }

  &-40 {
    width: 40%;
  }

  &-50 {
    width: 50%;
  }

  &-60 {
    width: 60%;
  }

  &-75 {
    width: 75%;
  }

  &-100 {
    width: 100%;
  }

  &-33 {
    width: 33%;
  }
}
