.border {
  &-gray {
    border: solid 1px $gray-light;
  }

  &-red {
    border: solid 1px $red;
  }

  &-gray-light {
    border: solid 1px $gray-xlight;
  }

  &-gray-xlight {
    border: solid 1px $gray-xxlight;
  }

  &-white {
    border: solid 1px $white;
  }

  &-gray-top {
    border-top: solid 2px $gray-light;
  }

  &-light-gray-bottom {
    border-bottom: solid 2px $gray-xxlight;
  }

  &-gray-bottom {
    border-bottom: solid 2px $gray-light;
  }

  &-light-gray-top {
    border-top: solid 1px $gray-xxlight;
  }

  &-dashed {
    border: dashed 1px $gray-xlight !important;
  }

  &-radius-small {
    border-radius: 4px;
  }

  &-left {
    &-gray {
      border-left: solid 1px $gray-light;
    }

    &-gray-light {
      border-left: solid 1px $gray-xxlight;
    }
  }

  &-right {
    &-gray {
      border-right: solid 1px $gray-light;
    }

    &-gray-light {
      border-right: solid 1px $gray-xxlight;
    }
  }

  &-transparent {
    border: transparent !important;
  }
}
