.bg {
  &-gray-xxlight {
    background: $gray-xxxlight !important;
  }

  &-gray-xlight {
    background: $gray-xxlight !important;
  }

  &-gray-light {
    background: $gray-xlight !important;
  }

  &-gray-medium {
    background: $gray-light !important;
  }

  &-white {
    background: $white !important;
  }

  &-transparent {
    background: transparent !important;
  }

  &-blue {
    background: $blue-light-gray;
  }
}